div#main {
  height: 720px;
}
div#main div {
  border-style: groove;
  border-width: 0;
  border-top-width: thin;
  border-bottom-width: thin;
}
div#board {
  overflow: hidden;
  overflow-y: auto;
  background-color: lightblue;
  height: 80%;
}
div#board p {
  margin: 0;
  padding: 0;
}
div#notepad {
  height: 20%;
}
textarea#message {
  border-color: gray;
  border-style: solid;
  border-right-width: 5px;
  height: 96%;
  width: 81%;
  overflow: hidden;
}
button#send {
  float: right;
  position: relative;
  width: 17%;
  height: 100%;
}
